/*
Theme Name:  Liviza Child Theme
Description: Child theme for the Liviza theme
Author:      ThemeStek
Author URI:  http://themeforest.net/user/themestek
Template:    liviza
Version:     0.1
Tags:        light, white, two-columns, three-columns, four-columns, right-sidebar, left-sidebar, responsive, retina
*/


/* NOTE: Main theme's style.css file is already added in head tag. /*

/* =Theme customization starts here
-------------------------------------------------------------- */
body.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title>a {
    padding-left: 46px;
}

.site-main {
	padding-bottom: 82px;
}

.btn-outline .btn-block {
    border: 1px solid #ffffff;
}

.entry-header .entry-title.blog-post-title{
 	font-size: 45px;
	font-weight: 700;
}